@import './header.css';
@import './index.css';
@import './discover.css';
@import './join.css';


*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #2f303a;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2rem;
    color: white;
    min-height: 100vh;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.btn {
    color: white;
    background-color: #1762a7;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    text-decoration: none;
    font-size: .9rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #2180d8;
}

.btn:focus {
    background-color: #2796ff;
}